.delete-modal {
    background-color: rgb(64, 243, 29);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px; 
    margin-left: -250px;
    border: 1px solid black;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

.buttons button {
    background-color: rgb(52, 52, 52);
    color: white;
    cursor: pointer;
    border:none;
    padding: 5px 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 60px;
    border-radius: 15px;
}

.close-btn {
    background-color: rgb(188, 0, 0);
    color: white;
    border-radius: 40px;
    padding:7px 12px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top:-5px;
    right: -5px;
    cursor: pointer;
}