.product-page-wrapper {
    background-color: rgba(191, 191, 191, 0.5);
    width: 80%;
    margin: 0 auto;
    min-height: 105vh;
    margin-top: 15px;
    margin-top: 50px;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #322e9f;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-top: 15px;
  font-size: 2.5em;
}

.sub-title{
    font-size: 15px;
    color:rgb(46, 46, 46);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.main-img {
    margin-top: 50px;
    max-width: 500px;
    max-height: 350px;
    border-radius: 5px;
    position: relative;
    border: 1px solid white;
}

.main-img:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.product-data {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.product-data p {
    font-size: 22px;
}

.buttons-wrapper {
    display: flex;
    gap:40px;
    position: absolute;
    top:360px;
    left: 315px;
}


.buttons-wrapper button:hover {
    background-color: white;
    color:black;
} 

.shown {
    width: 100px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(34, 34, 34);
    color:#fff;
    border: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 10px;
}

.notshown {
    display: none;
}


.p-moreimg {
    display: inline-block;
    margin-top: 40px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p-moreimg:hover {
    text-decoration: underline;
    cursor: pointer;
}

.other-images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.other-images img {
    width: 200px;
    border: 1px solid white;
    border-radius: 3px;
}


.enlarged-img {
    position: absolute;
    width: 500px;
    height: 450px;
    cursor: pointer;
}


