.loading {
    font-size: 3em;
    color:aliceblue;
}

.heading {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #322e9f;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

.wrapper {
    background-color: rgba(191, 191, 191, 0.5);
    width: 80%;
    height: 80vh;
    overflow-x: scroll;
    margin: 0 auto;
}


.listWrapper {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}