.itemWrapper {
    flex: 0 0 calc(33.33% - 20px); 
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: #333;
  }
  
  .title {
    margin-bottom: 10px;
  }
  
  .img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  
  .p {
    margin-bottom: 5px;
  }

  
  .itemWrapper:hover {
    background-color:rgba(207, 207, 207, 0.5);
    transition: 0.3s;
  }