nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.5);

  }
  
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-right: 10px;
  }
  
  li:last-child {
    margin-right: 0;
  }
  
  nav a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff; 
    border-radius: 3px;
    width:150px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #333;
  }


