.wrapper {
    background-color: rgba(191, 191, 191, 0.7);
    width: 50%;
    height: 95vh;
    margin: 0 auto;
}

.wrapper form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr); 
    gap: 20px;
    text-transform: uppercase;
    margin-top: 20px;
}

.wrapper label {
    display: block;
    color: #322e9f;
    font-weight: bold;
    margin-bottom: 5px;
}

.wrapper input {
    height: 22px;
}

.wrapper button {
    margin-top: 20px;
    background-color: #322e9f;
    color:#fff;
    padding: 15px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.wrapper button:hover {
    background-color: #7e7bd7;
    color:#000;
    transition: 0.5s;
}
